<h1>Registro con protocollo</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Anno</th>
            <th>Protocollo</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Registrato</th>
            <th>Formato</th>
            <th>Mittente/Destinatario</th>
            <th>Oggetto</th>
            <th>Posizione</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.anno }}</td>
            <td>{{ entity.protocollo }}</td>
            <td>{{ (entity.tipo=='U'?'Uscita':'Ingresso') }}</td>
            <td>{% if entity.dataDocumento %}{{ entity.dataDocumento|date('d/m/Y') }}{% endif %}</td>
            <td>{% if entity.dataInserimento %}{{ entity.dataInserimento|date('d/m/Y') }}{% endif %}</td>
            <td>{{ entity.formato }}</td>
            <td>{{ entity.intestazione }}<br>{{ entity.indirizzo }}<br>{{ entity.localita }}</td>
            <td>{{ entity.oggetto }}</td>
            <td>{{ entity.posizione }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('protocollo_show', { 'id': entity.id }) }}">Visualizza</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('protocollo_new') }}">
            Aggiungi
        </a>
    </li>
</ul>
