<h1>Protocollo</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Anno</th>
            <td>{{ entity.anno }}</td>
        </tr>
        <tr>
            <th>Protocollo</th>
            <td>{{ entity.protocollo }}</td>
        </tr>
        <tr>
            <th>Tipo</th>
            <td>{{ entity.tipo }}</td>
        </tr>
        <tr>
            <th>Data inserito</th>
            <td>{{ entity.dataInserimento|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Data documento</th>
            <td>{{ entity.dataDocumento|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Formato</th>
            <td>{{ entity.formato }}</td>
        </tr>
        <tr>
            <th>Intestazione</th>
            <td>{{ entity.intestazione }}</td>
        </tr>
        <tr>
            <th>Indirizzo</th>
            <td>{{ entity.indirizzo }}</td>
        </tr>
        <tr>
            <th>Localita</th>
            <td>{{ entity.localita }}</td>
        </tr>
        <tr>
            <th>Oggetto</th>
            <td>{{ entity.oggetto }}</td>
        </tr>
        <tr>
            <th>Posizione</th>
            <td>{{ entity.posizione }}</td>
        </tr>
        <tr>
            <th>User_id</th>
            <td>{{ entity.userid }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('protocollo') }}">
            Torna alla lista
        </a>
    </li>
    <li>
        <a href="{{ path('protocollo_edit', { 'id': entity.id }) }}">
            Modifica
        </a>
    </li>
</ul>
